Key not URL decoded

Hi

Nice scripts, thanks a lot for it. I  have urldecoded characters in my key:

otpauth://totp/mymail%3Amyname%40mydomain.net?secret=XXXXXXXXXXXXXXXXXXXTM6A7U%3D%3D%3D%3D%3D%3D&algorithm=SHA1&digits=6&period=30

When I replace "%3D%3D%3D%3D%3D%3D" with "======", it works:

otpauth://totp/mymail%3Amyname%40mydomain.net?secret=XXXXXXXXXXXXXXXXXXXTM6A7U======&algorithm=SHA1&digits=6&period=30

Ivo

Hi,

Thanks for the report!

Indeed, I can reproduce that with the following input:

```
$ ./oathtool_from_otpauth_uri 'otpauth://totp/mymail%3Amyname%40mydomain.net?secret=GJTGCX3TMNZGS4DUOM======&algorithm=SHA1&digits=6&period=30'
590098
$ ./oathtool_from_otpauth_uri 'otpauth://totp/mymail%3Amyname%40mydomain.net?secret=GJTGCX3TMNZGS4DUOM%3D%3D%3D%3D%3D%3D&algorithm=SHA1&digits=6&period=30'
oathtool: base32 decoding failed: Base32 string is invalid
```

Additionally, I tested scanning a QR code of the otpauth URI with the urlencoded padding using Google Authenticator on Android (v5.20R4) and the application accepted it.

According to the specifications of the `otpauth` URI ([Google](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret), [Yubico](https://docs.yubico.com/yesdk/users-manual/application-oath/uri-string-format.html#secret)) that padding shouldn't be included in the URI:
> The secret parameter is an arbitrary key value encoded in Base32 according to [RFC 3548](http://tools.ietf.org/html/rfc3548). The padding specified in [RFC 3548 section 2.2](https://tools.ietf.org/html/rfc3548#section-2.2) is not required and should be omitted.

However, this is a situation in which it's not ambiguous what the input should be, so sanitizing the string before passing it to `oathtool` seems to be the right approach for this situation.